# all that start with a dot except .gitignore
.*
!.gitignore

# project
doc/*
!doc/ga/
!doc/pattern/
!doc/*.py
!doc/*.ipynb

# data
data/img/
data/temp/
data/raw/
data/proc/

agents/azathoth
agents/yog-sothoth